<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/staticFiles"></th:block>

<body>
	<div class="container">
	
		<th:block th:include="fragments/bodyHeader"></th:block>

		<!-- Pizza list goes here -->
        
		<div class="row">
			<div th:each="pizza: ${pizzaList}">
				<div class="leftcolumn" th:each="pizzaVariant : ${pizza.pizzaVariantList}">
					<div class="card">
						<h6 th:text="${pizzaVariant.id}"></h6>
						<h2><a th:href = "@{'/pizza/' + ${pizzaVariant.id}}" th:text="${pizzaVariant.pizza.name}"></a></h2>
						<h5 th:text="${pizzaVariant.price}">Price: $ </h5>

						<div th:each="pizzaOption : ${pizzaVariant.pizzaOptionList}">
							<span th:text="${pizzaOption.optionType}"></span>
							<span th:text="${pizzaOption.optionValue}">:</span>
						</div>
						<div align="right">
							<form th:action="@{/order/addToCart}" method="post">
								<input type="hidden" th:value="${pizzaVariant.id}" name="pizzaVariantId">
								<button type="submit" class="btn btn-primary">Add to cart</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="rightcolumn">
				<div class="card">
					<h2>About Me</h2>
					<div class="fakeimg" style="height: 100px;">Image</div>
					<p>Some text about me</p>
				</div>
			</div>
		</div>

		<th:block th:include="fragments/footer"></th:block>

	</div>
</body>

</html>
