<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:include="fragments/staticFiles"></th:block>

<body>
<div class="container">

    <th:block th:include="fragments/bodyHeader"></th:block>

    <main>
        <h1>Profile</h1>
        <div sec:authorize="isAuthenticated()">
            Hooraay!! you already have a account and profile.
        </div>
        <div sec:authorize="hasRole('ROLE_CUSTOMER')">
            Profile details for authenticated person who has a CUSTOMER role: <br/>

            Authenticated as <span sec:authentication="name"></span>
            Username is <span sec:authentication="principal.email"></span>
            Name is <span sec:authentication="principal.displayname"></span>
            Age is <span sec:authentication="principal.yob"></span>
            <!--
            Another approach:
            <th:block th:with="auth=${#authentication.getPrincipal()}">
                Age is <span th:text="${auth!=null? auth.age : 'NULL'}"></span>
            </th:block>
            -->
        </div>

        <div>
            <h1>Update Profile</h1>
            <span>Email cannot be changed. You need to register with a different email id. </span>
            <span>Resetting password will be an upcoming feature. </span>
        </div>
        <div>
            <h1>Purchase History</h1>
            <span>This is also an upcoming feature. </span>
        </div>
    </main>

    <th:block th:include="fragments/footer"></th:block>

</div>
</body>

</html>